:root {
  --principal: #111;
  --white: #f8f8f8;
  --lightRed: #d8315b;
  --lightBlue: #3e92cc;
  --lightGray: #666;
  --darkGray: #222;
  --lightSmoke: #999;
  --yelow: #fea618d5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--principal);
  color: var(--lightSmoke);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.category {
  border: solid 1px var(--lightGray);
  padding: 5px 15px;
  margin: 20px; 
  border: solid 1px var(--white);
  border-radius: 5px;
  /* overflow: auto; */
}

.category-drop {
  cursor: pointer;
  padding: 8px;
}

div.search {
  overflow: auto;
  height: 0;
  transition: 0.7s ease;
}

div.search-droped {
  height: 550px;
  transition: 0.7s ease;
}

div.veiculo-legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--yelow);
  padding: 10px 0;
}

.title-category {
  text-align: center;
  font-size: 1em;
}

.container-select {
  border: var(--lightGray) solid 1px;
  margin: 20px 0;
}

div.chosen {
  padding: 0;
  /* background-color: var(--lightGray); */
  color: var(--lightGray);
}

div.chosen input {
  width: 100%;
  /* height: 100%; */
  padding: 8px;
  background-color: var(--principal);
  border: none;
  font-size: 1em;
  color: var(--white);
}

div.drop-chosen {
  /* display: none; */
  height: 0;
  overflow: auto;
  transition: 0.7s ease;
}

div.droped {
  /* display: block; */
  height: 200px;
  transition: 0.7s;
}

div.drop-chosen div.container-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px var(--lightSmoke);
  color: var(--white);
  padding: 0 5px;
}

input.search-chosen {
  width: 80%;
  padding: 5px;
  font-size: 1em;
  background-color: var(--principal);
  outline: none;
  border: none;
  color: var(--white);
  
}

div.container-results-for-chosen {
  height: auto;
  overflow: auto;
}

ul.results-for-chosen-carro {
  list-style: none;
  padding: 5px;
}

li.chosen-model {
  padding: 5px;
}

li.chosen-model:hover {
  background-color: var(--lightBlue);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
}

#container-btn {
  display: flex;
  justify-content: center;
}

button {
  background-color: var(--lightBlue);
  border: none;
  padding: 10px;
  width: 50%;
  font-size: 1em;
  color: var(--white);
  cursor: pointer;
}

section.result {
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px var(--yelow);
  background-color: #222;
}

section.result a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  text-decoration: none;
  color: var(--yelow);
}

table {
  margin: auto;
}

td {
  padding: 10px 5px;
  border-bottom: solid 2px var(--yelow);
  color: var(--white);
}